html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 16px/1 'Josefin Slab', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 48px; }

/* 3em */
h2 {
  font-size: 36px; }

/* 2.25em */
h3 {
  font-size: 24px; }

/* 1.5em */
h4 {
  font-size: 20px; }

/* 1.25em */
h5 {
  font-size: 18px; }

/* 1.125em */
h6 {
  font-size: 16px; }

/* 1em */
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s; }

a {
  text-decoration: none; }

p {
  line-height: 1.25em;
  padding: 0.5rem 0; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.container {
  max-width: 1400px;
  margin: auto; }

nav {
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  background: #999;
  height: 50px; }
  nav .brand {
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid red; }
    nav .brand a {
      display: flex;
      align-items: center;
      border: 1px solid blue; }
      nav .brand a img {
        max-height: 35px;
        margin-right: 10px; }
        @media screen and (min-width: 768px) {
          nav .brand a img {
            max-height: 50px; } }
      nav .brand a span {
        font-size: 1em;
        padding-top: 3px;
        width: 50%; }
        @media screen and (min-width: 768px) {
          nav .brand a span {
            font-size: 1.75em; } }
  nav .nav-menu {
    display: none;
    border: 1px solid blue; }
    nav .nav-menu a {
      line-height: 75px;
      border: 1px solid red;
      display: block;
      height: 100%;
      padding: 0 25px;
      font-size: 1em; }
      @media screen and (min-width: 1024px) {
        nav .nav-menu a {
          font-size: 1.25em; } }
    @media screen and (min-width: 1024px) {
      nav .nav-menu {
        display: flex; } }
  @media screen and (min-width: 768px) {
    nav {
      height: 75px; } }

.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 10px 0;
  cursor: pointer; }
  .nav-burger span {
    display: block;
    width: 80%;
    height: 5%;
    margin: auto;
    background: white; }
  @media screen and (min-width: 768px) {
    .nav-burger {
      height: 75px;
      width: 65px; } }
  @media screen and (min-width: 1024px) {
    .nav-burger {
      display: none; } }

.mobile-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  right: -768px;
  height: 100%;
  transform: translate(0px, 0px);
  transition: .60s ease;
  background: #111;
  color: #fff;
  z-index: 99999999; }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      top: 75px; } }
  @media screen and (min-width: 1024px) {
    .mobile-menu {
      display: none; } }

.mobile-menu.active {
  transform: translate(-768px, 0px); }

.mobile-menu ul {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0; }

.mobile-menu ul.active {
  display: block; }

.mobile-menu li {
  border-top: 1px solid #555;
  text-align: right;
  background: none;
  transition: 0.3s; }

.mobile-menu li:last-child {
  border-bottom: 1px solid #555; }

.mobile-menu li:hover {
  background: #223;
  transition: 0.3s; }

.mobile-menu li a {
  display: block;
  padding: 25px 5%;
  text-decoration: none;
  color: #ccc;
  font-size: 1rem;
  font-family: sans-serif; }

header {
  position: relative;
  min-height: calc(75vh - 75px);
  max-height: calc(90vh - 75px);
  background-image: url("../img/coffee-bw.jpg");
  background-size: cover;
  background-position: center; }
  header .hero-content {
    position: absolute;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%; }
    header .hero-content h1 {
      font-size: 6em;
      font-weight: 100;
      color: white;
      text-shadow: 1px 1px 3px gray; }
  header #herovideo {
    width: 100%; }

#about {
  padding: 25px 2%;
  background: #e7e6e2; }
  #about .about-content {
    display: flex;
    flex-wrap: wrap; }
  #about .about-img {
    order: 2;
    width: 100%; }
  #about .about-us {
    order: 1;
    width: 100%;
    border: 1px solid red; }
    #about .about-us h2 {
      text-align: center;
      margin-bottom: 1rem; }
    #about .about-us h3 {
      margin: 1em 0;
      text-align: right; }

#locations {
  padding: 25px 2%;
  background: #333436;
  color: white; }
  #locations .locations-content {
    display: flex;
    flex-wrap: wrap; }
  #locations .locations-img {
    display: flex;
    justify-content: space-between; }
    #locations .locations-img img {
      display: block;
      width: 45%;
      flex: 0 1 auto;
      height: 100%; }
  #locations .locations-addresses {
    border: 1px solid blue;
    margin: auto; }
    #locations .locations-addresses h3 {
      margin: 1rem 0;
      text-align: center; }
    #locations .locations-addresses img {
      max-width: 20px;
      max-height: 20px;
      vertical-align: middle;
      margin-right: 10px; }
    #locations .locations-addresses img:nth-of-type(2) {
      margin: 1rem 10px 1rem 0; }

#quotes {
  padding: 25px 2%;
  background: #4e3b2d; }
  #quotes .quotes-content {
    display: flex;
    width: 100%;
    color: white; }
    #quotes .quotes-content span:not(.quotesource) {
      border: 1px solid orange;
      font-size: 5em; }
    #quotes .quotes-content .quotesource {
      display: block;
      border: 1px solid red;
      text-align: center;
      font-size: 1.5em;
      margin-top: 1em; }
    #quotes .quotes-content p {
      margin: 0 25px; }

#ourteam {
  background: #e7e6e2;
  text-align: center; }
  #ourteam h2 {
    padding: 25px 2%; }
  #ourteam .team-members {
    display: flex;
    flex-wrap: wrap; }
    #ourteam .team-members img {
      flex: 1 1 auto;
      height: 100%;
      width: 50%; }
  #ourteam .team-message {
    background: #2a343e;
    padding: 25px 2%; }
    #ourteam .team-message p {
      font-size: 1.5em;
      color: white;
      max-width: 1024px;
      margin: auto; }
