.link-hover-underline a, #blogposts a, #contact .contact-main .footer-column a, #footer-bottom a {
  position: relative; }

.link-hover-underline a:before, #blogposts a:before, #contact .contact-main .footer-column a:before, #footer-bottom a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #967762;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s; }

.link-hover-underline a:hover:before, #blogposts a:hover:before, #contact .contact-main .footer-column a:hover:before, #footer-bottom a:hover:before {
  visibility: visible;
  transform: scaleX(1); }

.link-hover-underline a:active, #blogposts a:active, #contact .contact-main .footer-column a:active, #footer-bottom a:active {
  color: #53677b; }

html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  font: 16px/1 'Josefin Slab', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 48px; }

/* 3em */
h2 {
  font-size: 36px; }

/* 2.25em */
h3 {
  font-size: 24px; }

/* 1.5em */
h4 {
  font-size: 20px; }

/* 1.25em */
h5 {
  font-size: 18px; }

/* 1.125em */
h6 {
  font-size: 16px; }

/* 1em */
h1,
h2,
h3,
h4,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit;
  transition: .3s;
  -webkit-tap-highlight-color: transparent; }

a {
  color: #967762;
  text-decoration: none; }
  @media screen and (min-width: 1280px) {
    a {
      font-size: 1.125em; } }

p {
  line-height: 1.25em;
  padding: 0.5rem 0; }
  @media screen and (min-width: 1280px) {
    p {
      font-size: 1.125em; } }

@media screen and (min-width: 1280px) {
  span {
    font-size: 1.125em; } }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.container {
  max-width: 1400px;
  margin: auto; }

nav {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  background: #191919;
  height: 50px;
  transition: transform 0.8s ease; }
  nav .brand {
    display: flex;
    align-items: center;
    height: 100%; }
    nav .brand a {
      display: flex;
      align-items: center;
      color: #e7e6e2; }
      nav .brand a img {
        max-height: 35px;
        margin-right: 10px; }
        @media screen and (min-width: 768px) and (min-height: 640px) {
          nav .brand a img {
            max-height: 50px; } }
      nav .brand a h1 {
        font-size: 1em;
        font-weight: normal;
        padding-top: 3px;
        width: 50%; }
        @media screen and (min-width: 768px) and (min-height: 640px) {
          nav .brand a h1 {
            font-size: 1.75em; } }
  nav .nav-menu {
    display: none; }
    nav .nav-menu a {
      color: #e7e6e2;
      line-height: 50px;
      display: block;
      height: 100%;
      padding: 0 25px;
      font-size: 1em; }
      nav .nav-menu a:hover {
        background: #423129; }
      nav .nav-menu a:active {
        background: #967762; }
      @media screen and (min-width: 1024px) and (min-height: 640px) {
        nav .nav-menu a {
          font-size: 1.25em;
          line-height: 75px; } }
    @media screen and (min-width: 1024px) {
      nav .nav-menu {
        display: flex; } }
  @media screen and (min-width: 768px) and (min-height: 640px) {
    nav {
      height: 75px; } }

nav.hidden {
  transform: translateY(-100%); }

hr {
  display: block; }

.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 3% 10px;
  cursor: pointer; }
  .nav-burger span {
    display: block;
    width: 80%;
    height: 2px;
    margin: auto;
    background: #967762; }
  @media screen and (min-width: 768px) {
    .nav-burger {
      height: 75px;
      width: 65px; } }
  @media screen and (min-width: 1024px) {
    .nav-burger {
      display: none; } }

.mobile-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  right: -768px;
  height: 100%;
  transform: translate(0px, 0px);
  transition: .60s ease;
  background: #191919;
  z-index: 99999999; }
  @media screen and (min-width: 768px) {
    .mobile-menu {
      top: 75px; } }
  @media screen and (min-width: 1024px) {
    .mobile-menu {
      display: none; } }

.mobile-menu.active {
  transform: translate(-768px, 0px); }

.mobile-menu {
  overflow: scroll; }
  .mobile-menu ul {
    display: none;
    list-style: none;
    padding: 0;
    background: #333333; }
  .mobile-menu ul.active {
    display: block; }
  .mobile-menu li {
    border-top: 1px solid #191919;
    text-align: right;
    background: none;
    transition: 0.3s; }
  .mobile-menu li:last-child {
    border-bottom: 1px solid #191919; }
  .mobile-menu li:hover, .mobile-menu li:active, .mobile-menu li:focus {
    background: #61493d;
    transition: 0.3s; }
  .mobile-menu li a {
    display: block;
    padding: 14px 5%;
    text-decoration: none;
    color: #967762;
    font-size: 1rem;
    font-family: sans-serif; }
    .mobile-menu li a:hover, .mobile-menu li a:active {
      color: #e7e6e2; }
    @media screen and (min-width: 768px) {
      .mobile-menu li a {
        padding: 25px 5%; } }

header {
  position: relative;
  max-width: 100vw;
  background-image: url("../img/coffee-bw.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  header .hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 9999; }
    header .hero-content h1 {
      font-size: 6em;
      color: #e7e6e2;
      font-weight: 100;
      text-shadow: 1px 1px 1px #191919; }
      @media screen and (min-width: 1280px) {
        header .hero-content h1 {
          font-size: 8em; } }
    header .hero-content h2 {
      font-size: 3em;
      color: #191919;
      font-weight: 100;
      text-shadow: 1px 1px 1px #191919; }
    header .hero-content h3 {
      margin-top: 25px;
      color: #967762;
      font-weight: 100;
      text-shadow: 1px 1px 1px #191919; }
  header .video-container {
    overflow: hidden;
    height: 100vh; }
    header .video-container #herovideo {
      transform: translateX(-40%);
      display: block;
      min-height: 568px;
      height: 100vh;
      max-height: 100vh;
      overflow-x: hidden;
      min-width: 100%; }
      @media screen and (min-width: 768px) {
        header .video-container #herovideo {
          transform: translateX(-20%); } }
      @media screen and (max-height: 640px) and (orientation: landscape) {
        header .video-container #herovideo {
          min-height: 200px;
          transform: translateX(0%); } }
      @media screen and (min-width: 768px) {
        header .video-container #herovideo {
          height: 100vh; } }
    @media screen and (min-width: 768px) {
      header .video-container {
        max-height: 568px; } }

#about {
  padding: 50px 2%;
  background: #e7e6e2; }
  #about .about-content {
    display: flex;
    flex-wrap: wrap; }
  #about .about-img {
    display: flex;
    order: 2;
    width: 100%;
    align-items: center; }
    @media screen and (min-width: 768px) {
      #about .about-img {
        order: 1;
        width: 50%;
        padding-right: 2.5%; } }
    @media screen and (min-width: 1280px) {
      #about .about-img {
        padding-right: 5%; } }
  #about .about-us {
    order: 1;
    width: 100%; }
    @media screen and (min-width: 768px) {
      #about .about-us {
        order: 2;
        width: 50%;
        padding-left: 2.5%; } }
    @media screen and (min-width: 1280px) {
      #about .about-us {
        padding-left: 5%; } }
    #about .about-us h2 {
      text-align: center;
      margin-bottom: 1rem;
      color: #61493d; }
      @media screen and (min-width: 768px) {
        #about .about-us h2 {
          text-align: left; } }
    #about .about-us h3 {
      margin: 1em 0;
      text-align: right;
      color: #2a343e; }
      @media screen and (min-width: 1280px) {
        #about .about-us h3 {
          padding-top: 50px;
          text-align: center;
          font-size: 2em; } }

#locations {
  padding: 50px 2%;
  background: #333436;
  background-image: url("../img/stone-bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #e7e6e2; }
  #locations .locations-content {
    display: flex;
    flex-wrap: wrap; }
  #locations .locations-summary .locations-img {
    display: flex;
    justify-content: space-between;
    margin: 25px 0; }
    #locations .locations-summary .locations-img img {
      display: block;
      width: 45%;
      flex: 0 1 auto;
      height: 100%; }
  @media screen and (min-width: 1024px) {
    #locations .locations-summary {
      width: 50%;
      padding-right: 2.5%; } }
  @media screen and (min-width: 1280px) {
    #locations .locations-summary {
      padding-right: 5%; } }
  #locations .locations-addresses {
    display: block;
    margin: auto; }
    #locations .locations-addresses h3 {
      margin: 1rem 0;
      text-align: center;
      color: #967762; }
    #locations .locations-addresses img {
      max-width: 20px;
      max-height: 20px;
      vertical-align: middle;
      margin-right: 10px; }
    #locations .locations-addresses img:nth-of-type(2) {
      margin: 1rem 10px 1rem 0; }
    @media screen and (min-width: 480px) {
      #locations .locations-addresses .burnside {
        margin-top: initial;
        margin-left: 2%; } }
    @media screen and (min-width: 640px) {
      #locations .locations-addresses .burnside {
        margin-left: 10%; } }
    @media screen and (min-width: 1024px) {
      #locations .locations-addresses .burnside {
        margin-left: 10%; } }
    #locations .locations-addresses .mississippi {
      margin-top: 25px; }
      @media screen and (min-width: 480px) {
        #locations .locations-addresses .mississippi {
          margin-top: initial;
          margin-right: 2%; } }
      @media screen and (min-width: 640px) {
        #locations .locations-addresses .mississippi {
          margin-right: 10%; } }
    @media screen and (min-width: 480px) {
      #locations .locations-addresses {
        width: 100%;
        display: flex;
        justify-content: space-between; } }
    @media screen and (min-width: 1024px) {
      #locations .locations-addresses {
        width: 50%;
        padding-left: 2.5%; } }
    @media screen and (min-width: 1280px) {
      #locations .locations-addresses {
        padding-left: 5%; } }

#quotes {
  padding: 50px 2%;
  background: #4e3b2d;
  background-image: url("../img/grinder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  #quotes .quotes-content {
    display: flex;
    width: 90%;
    max-width: 900px;
    color: #e7e6e2;
    text-align: center;
    text-shadow: 2px 2px 2px black; }
    #quotes .quotes-content span:not(.quotesource) {
      font-size: 5em;
      font-style: italic;
      margin-left: -10px;
      padding-right: 10px; }
    #quotes .quotes-content .quotesource {
      display: block;
      font-size: 1.5em;
      margin-top: 1em; }
    #quotes .quotes-content p {
      font-size: 1.25em; }

#ourteam {
  background: #e7e6e2;
  text-align: center; }
  #ourteam h2 {
    padding: 25px 2%;
    color: #2a343e; }
  #ourteam .team-members {
    display: flex;
    flex-wrap: wrap; }
    #ourteam .team-members .team-member-picture {
      height: 200px;
      min-width: 16.66%;
      width: 50%;
      background: #333436;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
      @media screen and (min-width: 768px) {
        #ourteam .team-members .team-member-picture {
          width: 33.33%;
          height: 320px; } }
      @media screen and (min-width: 1024px) {
        #ourteam .team-members .team-member-picture {
          width: 16.666%;
          height: 480px; } }
    #ourteam .team-members .member1 {
      background-image: url("../img/team1.jpg"); }
    #ourteam .team-members .member2 {
      background-image: url("../img/team2.jpg"); }
    #ourteam .team-members .member3 {
      background-image: url("../img/team3.jpg"); }
    #ourteam .team-members .member4 {
      background-image: url("../img/team4.jpg"); }
      @media screen and (min-width: 1024px) {
        #ourteam .team-members .member4 {
          background-position: 65%; } }
    #ourteam .team-members .member5 {
      background-image: url("../img/team5.jpg");
      background-position: left; }
      @media screen and (min-width: 1024px) {
        #ourteam .team-members .member5 {
          background-position: 25%; } }
    #ourteam .team-members .member6 {
      background-image: url("../img/team6.jpg"); }
      @media screen and (min-width: 1024px) {
        #ourteam .team-members .member6 {
          background-position: 45%; } }
  #ourteam .team-message {
    background: #2a343e;
    padding: 25px 2%; }
    #ourteam .team-message p {
      font-size: 1.25em;
      color: #e7e6e2;
      max-width: 1024px;
      margin: auto; }
      @media screen and (min-width: 1024px) {
        #ourteam .team-message p {
          font-size: 1.5em; } }

#blogposts {
  padding: 50px 2%;
  background: #e7e6e2; }
  #blogposts h2 {
    color: #61493d; }
  #blogposts a.moreposts {
    display: inline;
    float: right; }
  #blogposts .latest-posts .blogpost {
    width: 75%;
    margin: 25px auto; }
    #blogposts .latest-posts .blogpost img {
      margin-bottom: 1rem; }
      @media screen and (min-width: 480px) {
        #blogposts .latest-posts .blogpost img {
          width: 33.33%;
          height: 100%;
          margin: 0; } }
      @media screen and (min-width: 1024px) {
        #blogposts .latest-posts .blogpost img {
          width: 100%;
          margin-bottom: 1rem; } }
    #blogposts .latest-posts .blogpost .post-meta {
      display: inline-block; }
      #blogposts .latest-posts .blogpost .post-meta h3 {
        display: block;
        margin-bottom: 0.5rem; }
      #blogposts .latest-posts .blogpost .post-meta span {
        font-style: italic;
        color: #967762; }
      #blogposts .latest-posts .blogpost .post-meta .readmore {
        display: block;
        background: #4e3b2d;
        color: #e7e6e2;
        width: 150px;
        padding: 10px 0;
        margin: 1rem auto;
        text-align: center; }
        #blogposts .latest-posts .blogpost .post-meta .readmore:hover {
          background: #967762; }
        #blogposts .latest-posts .blogpost .post-meta .readmore:active {
          background: #c0ac9e; }
      @media screen and (min-width: 480px) {
        #blogposts .latest-posts .blogpost .post-meta {
          margin-left: 25px; } }
      @media screen and (min-width: 1024px) {
        #blogposts .latest-posts .blogpost .post-meta {
          display: block;
          margin-left: 0; } }
    @media screen and (min-width: 480px) {
      #blogposts .latest-posts .blogpost {
        display: flex;
        width: 100%;
        margin: 25px 0; } }
    @media screen and (min-width: 1024px) {
      #blogposts .latest-posts .blogpost {
        display: block;
        width: 25%; } }
  @media screen and (min-width: 1024px) {
    #blogposts .latest-posts {
      display: flex;
      justify-content: space-around; } }

#gallery .gallery-header {
  padding: 50px 2%;
  background: #333436;
  background-image: url("../img/beans-bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: #e7e6e2; }

#gallery .gallery-slider {
  max-height: 500px;
  overflow: hidden; }

#contact {
  background: #191919;
  padding: 0 2% 25px 2%; }
  #contact .contact-header {
    padding: 25px 2% 50px 2%; }
    #contact .contact-header .footer-logo {
      display: flex;
      margin: auto;
      justify-content: center; }
      #contact .contact-header .footer-logo img {
        max-height: 50px;
        margin-right: 10px; }
      #contact .contact-header .footer-logo h2 {
        padding-top: 14px;
        color: #e7e6e2;
        font-weight: 100; }
  #contact .contact-main {
    display: flex;
    flex-wrap: wrap; }
    #contact .contact-main h3 {
      color: #e7e6e2; }
    #contact .contact-main p, #contact .contact-main span {
      color: #e7e6e2; }
    #contact .contact-main .footer-column {
      flex: 1 2;
      text-align: center;
      min-width: 40%; }
      #contact .contact-main .footer-column div:nth-child(2) {
        margin: 25px; }
      #contact .contact-main .footer-column h4 {
        margin: 1rem 0;
        color: #967762; }
      @media screen and (min-width: 768px) {
        #contact .contact-main .footer-column {
          min-width: 25%; } }
    #contact .contact-main #contact-form input, #contact .contact-main #contact-form textarea {
      font-size: 1em;
      color: #e7e6e2;
      font-family: "Josefin Slab", sans-serif;
      display: block;
      margin: 0 auto 1rem auto;
      padding: 10px 0;
      width: 75%;
      background: none;
      border: none;
      border-bottom: 1px solid #6f6b5b; }
      #contact .contact-main #contact-form input:focus, #contact .contact-main #contact-form textarea:focus {
        outline: none;
        border-color: #967762; }
    #contact .contact-main #contact-form button {
      display: block;
      color: #967762;
      border: 1px solid #967762;
      padding: 10px;
      text-align: right;
      margin: auto; }
      #contact .contact-main #contact-form button:hover {
        background: #61493d;
        color: #e7e6e2; }
      #contact .contact-main #contact-form button:focus {
        outline: none; }
      #contact .contact-main #contact-form button:active {
        background: #32261f; }
    #contact .contact-main .footer-social img {
      height: 25px;
      margin: 1.125em; }
      @media screen and (min-width: 768px) {
        #contact .contact-main .footer-social img {
          margin: 0.9em; } }

#footer-bottom {
  padding: 10px 2%;
  background: #111;
  color: #999;
  text-align: center; }
  #footer-bottom a:first-of-type {
    display: inline-block; }
