#about {
  padding: 50px 2%;
  background: $light-tan;
  .about-content {
    display: flex;
    flex-wrap: wrap;
  }
  .about-img {
    display: flex;
    order: 2;
    width: 100%;
    align-items: center;
    @media screen and #{$tablet} {
      order: 1;
      width: 50%;
      padding-right: 2.5%;
    }
    @media screen and #{$x-large} {
      padding-right: 5%;
    }
  }
  .about-us {
    order: 1;
    width: 100%;
    @media screen and #{$tablet} {
      order: 2;
      width: 50%;
      padding-left: 2.5%;
    }
    @media screen and #{$x-large} {
      padding-left: 5%;
    }
    h2 {
      text-align: center;
      margin-bottom: 1rem;
      @media screen and #{$tablet} {
        text-align: left;
      }
    }
    h3 {
      margin: 1em 0;
      text-align: right;
      @media screen and #{$x-large} {
        padding-top: 50px;
        text-align: center;
        font-size: 2em;
      }
    }
  }
}
