#blogposts {
  padding: 50px 2%;
  background: $light-tan;
  @extend .link-hover-underline;
  h2 {
    color: $coffee-dark;
  }
  a.moreposts {
    display: inline;
    float: right;
  }
  .latest-posts {
    .blogpost {
      width: 75%;
      margin: 25px auto;

      img {
        margin-bottom: 1rem;
        @media screen and #{$lg-mobile} {
          width: 33.33%;
          height: 100%;
          margin: 0;
        }
        @media screen and #{$desktop} {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

      .post-meta {
        display: inline-block;
        h3 {
          display: block;
          margin-bottom: 0.5rem;
        }
        span {
          font-style: italic;
          color: $coffee-light;
        }
        @media screen and #{$lg-mobile} {
          margin-left: 25px;
        }
        @media screen and #{$desktop} {
          display: block;
          margin-left: 0;
        }
      }

      @media screen and #{$lg-mobile} {
        display: flex;
        width: 100%;
        margin: 25px 0;
      }
      @media screen and #{$desktop} {
        display: block;
        width: 25%;
      }
    }
    @media screen and #{$desktop} {
      display: flex;
      justify-content: space-around;
    }
  }


}
