#blogposts {
  padding: 50px 2%;
  background: $light-tan;
  h2 {
    color: $coffee-dark;
  }

  .latest-posts {
    .blogpost {
      // border: 1px solid red;
      width: 75%;
      margin: 25px auto;

      img {
        margin-bottom: 1rem;
        @media screen and #{$lg-mobile} {
          width: 33.33%;
          height: 100%;
          margin: 0;
        }
        @media screen and #{$desktop} {
          width: 100%;
          margin-bottom: 1rem;
        }
      }

      .post-meta {
        display: inline-block;
        h3 {
          display: block;
          margin-bottom: 0.5rem;
        }
        span {
          font-style: italic;
          color: $coffee-light;
        }
        .readmore {
          display: block;
          background: $coffee-brown;
          color: white;
          width: 150px;
          padding: 10px 0;
          margin: 1rem auto;
          text-align: center;
        }
        @media screen and #{$lg-mobile} {
          margin-left: 25px;
        }
        @media screen and #{$desktop} {
          display: block;
          margin-left: 0;
        }
      }

      @media screen and #{$lg-mobile} {
        display: flex;
        width: 100%;
        margin: 25px 0;
      }
      @media screen and #{$desktop} {
        display: block;
        width: 25%;
      }
    }
    @media screen and #{$desktop} {
      display: flex;
      justify-content: space-around;
    }
  }










  a.moreposts {
    display: block;
    text-align: right;
  }


}
