#contact {
  background: $coffee-black;
  padding: 0 2% 25px 2%;
  .contact-header {
    padding: 25px 2% 50px 2%;

    .footer-logo {
      display: flex;
      margin: auto;
      justify-content: center;
      img {
        max-height: 50px;
        margin-right: 10px;
      }
      h2 {
        padding-top: 14px;
        color: $light-tan;
        font-weight: 100;
      }
    }
  }

  .contact-main {
    display: flex;
    flex-wrap: wrap;
    p, span, h3 {
      color: $light-tan;
    }
    .footer-column {
      @extend .link-hover-underline;
      flex: 1 2;
      text-align: center;
      min-width: 40%;
      div:nth-child(2) {
        margin: 25px;
      }
      h4 {
        margin: 1rem 0;
        color: $coffee-light;
      }
      @media screen and #{$tablet} {
        min-width: 25%;
      }
    }
    .footer-social {
      img {
        height: 25px;
        margin: 1.125em;
        @media screen and #{$tablet} {
          margin: 0.9em;
        }
      }
    }
  }
}

#footer-bottom {
  @extend .link-hover-underline;
  padding: 10px 2%;
  background: #111;
  color: #999;
  text-align: center;
  a:first-of-type {
    display: inline-block;
  }
}
