#gallery {
  .gallery-header {
    padding: 25px 2%;
    background: $dark-gray;
    background-image: url("../img/beans-bw.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: $light-tan;
    @media screen and #{$tablet} {
      padding: 50px 2%;
    }
    h3 {
      font-size: 1.25em;
      @media screen and #{$tablet} {
        font-size: 1.5em;
      }
    }
  }
  .gallery-slider {
    background-color: $coffee-dark;
    max-height: 500px;
    min-height: 175px;
    height: 30vh;
    overflow: hidden;
    img {
      display: block;
    }
    @media screen and #{$tablet} {
      min-height: 350px;
    }
    @media screen and #{$x-large} {
      height: 50vh;
      max-height: 800px;
    }
  }

  //gallery slider

  .slider {
    z-index: 1;
    position: relative;
    height: 100%;
    div span {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      z-index: 0;
      animation: imageAnimation 30s linear infinite 0s;
    }
    div {
      &:nth-child(1) span {
        background-image: url("../img/pourover.jpg");
        background-position: 0 75%;
      }
      &:nth-child(2) span {
        background-image: url("../img/coffee-art.jpg");
        background-position: 0 75%;
        animation-delay: 7.5s;
      }
      &:nth-child(3) span {
        background-image: url("../img/coffeeshop4.jpg");
        animation-delay: 15s;
      }
      &:nth-child(4) span {
        background-image: url("../img/beans2.jpg");
        animation-delay: 22.5s;
      }
    }
  }

  @keyframes imageAnimation {
    0% {
      opacity: 0;
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    15% {
      opacity: 1;
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    30% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

}
