#locations {
  padding: 25px 2%;
  background: $dark-gray;
  color: white;
  .locations-content {
    display: flex;
    flex-wrap: wrap;
  }
  .locations-img {
    display: flex;
    justify-content: space-between;
    img {
      display: block;
      width: 45%;
      flex: 0 1 auto;
      height: 100%;
    }
  }
  .locations-addresses {
    border: 1px solid blue;
    margin: auto;
    h3 {
      margin: 1rem 0;
      text-align: center;
    }
    img {
      max-width: 20px;
      max-height: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }
    img:nth-of-type(2) {
      margin: 1rem 10px 1rem 0;
    }
  }

}
