#locations {
  padding: 50px 2%;
  background: $dark-gray;
  background-image: url("../img/stone-bw.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $light-tan;
  .locations-content {
    display: flex;
    flex-wrap: wrap;
  }
  .locations-summary {
    .locations-img {
      display: flex;
      justify-content: space-between;
      margin: 25px 0;
      img {
        display: block;
        width: 45%;
        flex: 0 1 auto;
        height: 100%;
      }
    }
    @media screen and #{$desktop} {
      width: 50%;
      padding-right: 2.5%;
    }
    @media screen and #{$x-large} {
      padding-right: 5%;
    }
  }
  .locations-addresses {
    display: block;
    margin: auto;
    h3 {
      margin: 1rem 0;
      text-align: center;
      color: $coffee-light;
    }
    img {
      max-width: 20px;
      max-height: 20px;
      vertical-align: middle;
      margin-right: 10px;
    }
    img:nth-of-type(2) {
      margin: 1rem 10px 1rem 0;
    }
    .burnside {
      @media screen and #{$lg-mobile} {
        margin-top: initial;
        margin-left: 2%;
      }
      @media screen and #{$sm-tablet} {
        margin-left: 10%;
      }
      @media screen and #{$desktop} {
        margin-left: 10%;
      }
    }
    .mississippi {
      margin-top: 25px;
      @media screen and #{$lg-mobile} {
        margin-top: initial;
        margin-right: 2%;
      }
      @media screen and #{$sm-tablet} {
        margin-right: 10%;
      }
    }
    @media screen and #{$lg-mobile} {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    @media screen and #{$desktop} {
      width: 50%;
      padding-left: 2.5%;
    }
    @media screen and #{$x-large} {
      padding-left: 5%;
    }
  }

}
