nav {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  background: $coffee-black;
  border-bottom: 2px solid $coffee-dark;
  height: 50px;
  transition: transform 0.8s ease;
  .brand {
    display: flex;
    align-items: center;
    height: 100%;
    a {
      display: flex;
      align-items: center;
      color: $light-tan;
      img {
        max-height: 35px;
        margin-right: 10px;
        @media screen and #{$tablet} and (min-height: 640px){
          max-height: 50px;
        }
      }
      h1 {
        font-size: 1em;
        font-weight: normal;
        padding-top: 5px;
        width: 50%;
        @media screen and #{$tablet} and (min-height: 640px) {
          font-size: 1.5em;
        }
      }
    }
  }
  .nav-menu {
    display: none;
    a {
      color: $coffee-light;
      line-height: 50px;
      display: block;
      height: 100%;
      padding: 0 25px;
      font-size: 1em;
      &:hover {
        background: lighten($coffee-black, 10%);
      }
      &:active {
        background: lighten($coffee-black, 15%);
      }
      @media screen and #{$desktop}  and (min-height: 640px){
        font-size: 1.25em;
        line-height: 75px;
      }
    }
    @media screen and #{$desktop} {
      display: flex;
    }
  }
  @media screen and #{$tablet} and (min-height: 640px) {
    height: 75px;
    border: 0;
  }
}


nav.hidden {
  transform: translateY(-100%);
}
nav.not-hidden {
  transform: translateY(0);
}

hr {
  display: block;
}



.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  cursor: pointer;
  span {
    display: block;
    width: 80%;
    height: 2px;
    margin: auto;
    background: $coffee-light;
  }
  @media screen and #{$tablet} {
    height: 75px;
    width: 65px;
    padding: 20px 10px;
  }
  @media screen and #{$desktop} {
    display: none;
  }
}


.mobile-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  right: -768px;
  height: 100vh;
  transform: translate(0px, 0px);
  transition: .60s ease;
  background: $coffee-black;

  z-index: 99999999;
  @media screen and #{$tablet} {
    top: 75px;
  }
  @media screen and #{$desktop} {
    display: none;
  }
}

.mobile-menu.active {
  transform: translate(-768px, 0px);
}

.mobile-menu {
  overflow: scroll;
  ul {
    display: none;
    list-style: none;
    padding: 0;
    background: lighten($coffee-black, 10%);
  }

  ul.active {
    display: block;
  }

  li {
    border-top: 1px solid $coffee-black;
    text-align: right;
    background: none;
    transition: 0.3s;
  }

  li:last-child {
    border-bottom: 1px solid $coffee-black;
  }

  li:hover, li:active, li:focus {
    background: $coffee-dark;
    transition: 0.3s;
  }

  li a {
    display: block;
    padding: 14px 5%;
    text-decoration: none;
    color: $coffee-light;
    font-size: 1rem;
    font-family: sans-serif;
    &:hover, &:active {
      color: $light-tan;
    }
    @media screen and #{$tablet} {
      padding: 25px 5%;
    }
  }
}
