nav {
  position: fixed;
  z-index: 9999999;
  width: 100%;
  padding: 0 2%;
  display: flex;
  justify-content: space-between;
  background: $coffee-black;
  border-bottom: 2px solid $coffee-dark;
  height: 50px;
  transition: transform 0.8s ease;
  .brand {
    display: flex;
    align-items: center;
    height: 100%;
    a {
      display: flex;
      align-items: center;
      color: $light-tan;
      img {
        max-height: 35px;
        margin-right: 10px;
        @media screen and #{$tablet} and (min-height: 640px){
          max-height: 50px;
        }
      }
      h1 {
        font-size: 1em;
        font-weight: normal;
        padding-top: 5px;
        width: 50%;
        @media screen and #{$tablet} and (min-height: 640px) {
          font-size: 1.5em;
        }
      }
    }
  }
  .nav-menu {
    display: none;
    a {
      color: $coffee-light;
      line-height: 50px;
      display: block;
      height: 100%;
      padding: 0 25px;
      font-size: 1em;
      &:hover {
        background: lighten($coffee-black, 10%);
      }
      &:active {
        background: lighten($coffee-black, 15%);
      }
      @media screen and #{$desktop}  and (min-height: 640px){
        font-size: 1.25em;
        line-height: 75px;
      }
    }
    @media screen and #{$desktop} {
      display: flex;
    }
  }
  @media screen and #{$tablet} and (min-height: 640px) {
    height: 75px;
    border: 0;
  }
}


nav.hidden {
  transform: translateY(-100%);
}
nav.not-hidden {
  transform: translateY(0);
}

hr {
  display: block;
}

// nav burger and it's animations
.nav-burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  position: relative;
  padding-left: 5px;

  span {
    display: block;
    background: $coffee-light;
    height: 2px;
    width: 40px;
    position: absolute;
    transition: all 0.5s ease;
  }

  span:nth-child(1){top:10px;}
  span:nth-child(2){top:22.5px;}
  span:nth-child(3){top:35px;}

  .transparent {opacity:0;}
  .rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:10px; transition:all 0.5s ease;}
  .rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 0%;left:10px; margin-top: 3px; transition:all 0.5s ease;}


  @media screen and #{$tablet} {
    height: 75px;
    width: 75px;
    padding-left: 15px;

    span:nth-child(1){top:20px;}
    span:nth-child(2){top:35px;}
    span:nth-child(3){top:50px;}

    .transparent {opacity:0;}
    .rotate-top{transform:rotatez(45deg);-webkit-transform-origin:0%;left:20px; transition:all 0.5s ease;}
    .rotate-bottom{transform:rotatez(-45deg);-webkit-transform-origin: 0%;left:20px; margin-top: -1px; transition:all 0.5s ease;}
  }

  @media screen and #{$desktop} {
    display: none;
  }
}


// off-canvas menu
.mobile-menu {
  position: fixed;
  top: 50px;
  bottom: 0;
  width: 60%;
  right: -768px;
  min-height: 1000px;
  height: 100vh;
  transform: translate(0px, 0px);
  transition: .60s ease;
  background: $coffee-black;
  z-index: 99999999;
  @media screen and #{$tablet} {
    top: 75px;
  }
  @media screen and #{$desktop} {
    display: none;
  }
}

.mobile-menu.active {
  transform: translate(-768px, 0px);
}

.mobile-menu {
  overflow: auto;
  ul {
    display: none;
    list-style: none;
    padding: 0;
    background: lighten($coffee-black, 10%);
  }

  ul.active {
    display: block;
  }

  li {
    border-top: 1px solid $coffee-black;
    text-align: right;
    background: none;
    transition: 0.3s;
  }

  li:last-child {
    border-bottom: 1px solid $coffee-black;
  }

  li:hover, li:active, li:focus {
    background: $coffee-dark;
    transition: 0.3s;
  }

  li a {
    display: block;
    padding: 14px 5%;
    text-decoration: none;
    color: $coffee-light;
    font-size: 1rem;
    font-family: sans-serif;
    &:hover, &:active {
      color: $light-tan;
    }
    @media screen and #{$tablet} {
      padding: 25px 5%;
    }
  }
}

// darken the rest of the page when mobile nav is open
.navshroud {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 1000px;
  height: 100%;
  background: #000;
  opacity: 0.75;
  z-index: 99999;
  @media screen and #{$desktop} {
    display: none !important;
  }
}
// prevent scrolling on body when mobile nav is open
.stick {
  position: fixed;
}
