#quotes {
  padding: 25px 2%;
  background: $coffee-brown;
  background-image: url("../img/grinder.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .quotes-content {
    display: flex;
    width: 100%;
    color: white;
    span:not(.quotesource) {
      border: 1px solid orange;
      font-size: 5em;
    }
    .quotesource {
      display: block;
      border: 1px solid red;
      text-align: center;
      font-size: 1.5em;
      margin-top: 1em;
    }
    p {
      margin: 0 25px;
    }
  }
}
