#ourteam {
  background: $light-tan;
  text-align: center;
  h2 {
    padding: 25px 2%;
  }
  .team-members {
    display: flex;
    flex-wrap: wrap;
    img {
      flex: 1 1 auto;
      height: 100%;
      width: 50%;
    }
  }
  .team-message {
    background: $alt-blue;
    padding: 25px 2%;
    p {
      font-size: 1.5em;
      color: white;
      max-width: 1024px;
      margin: auto;
    }
  }
}
